# Olympy

In [1]:
# installing pandas package
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
# check current installed pandas version
pd.__version__

'2.2.2'

In [4]:
# Colab pandas doc access
pd.read_csv?

Pandas doc: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

In [5]:
# downloading the dataset
!wget https://raw.githubusercontent.com/valdal14/olympy/refs/heads/main/dataset.csv

--2026-02-16 09:07:33--  https://raw.githubusercontent.com/valdal14/olympy/refs/heads/main/dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2371208 (2.3M) [text/plain]
Saving to: ‘dataset.csv’

dataset.csv         100%[===================>]   2.26M  --.-KB/s    in 0.01s

2026-02-16 09:07:33 (183 MB/s) - ‘dataset.csv’ saved [2371208/2371208]

If you prefer to upload your own dataset, please uncommet the following code block and upload your own.

In [6]:
# from google.colab import files
# files.upload()

In [7]:
# check the dataset upload
!ls -la

total 2332
drwxr-xr-x 1 root root    4096 Feb 16 09:07 .
drwxr-xr-x 1 root root    4096 Feb 16 08:58 ..
drwxr-xr-x 4 root root    4096 Jan 16 14:24 .config
-rw-r--r-- 1 root root 2371208 Feb 16 09:07 dataset.csv
drwxr-xr-x 1 root root    4096 Jan 16 14:24 sample_data

In [13]:
# read the flat csv file using pandas
# Skiping the first 5 rows due to the dataset file description and disclaimer
df = pd.read_csv('dataset.csv', skiprows=5)

In [14]:
# check the head to verify the file was uploaded
df.head(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3