# Olympy

In [5]:
# installing pandas package
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd

In [7]:
# check current installed pandas version
pd.__version__

'2.2.2'

In [8]:
# Colab pandas doc access
pd.read_csv?

Pandas doc: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

In [9]:
# downloading the dataset
from pathlib import Path

if not Path('dataset.csv').exists():
  !wget https://raw.githubusercontent.com/valdal14/olympy/refs/heads/main/dataset.csv

If you prefer to upload your own dataset, please uncommet the following code block and upload your own.

In [ ]:
# from google.colab import files
# files.upload()

In [10]:
# check the dataset upload
!ls -la

total 2332
drwxr-xr-x 1 root root    4096 Feb 18 07:29 .
drwxr-xr-x 1 root root    4096 Feb 18 07:27 ..
drwxr-xr-x 4 root root    4096 Jan 16 14:24 .config
-rw-r--r-- 1 root root 2371208 Feb 18 07:29 dataset.csv
drwxr-xr-x 1 root root    4096 Jan 16 14:24 sample_data

In [11]:
# read the flat csv file using pandas
# Skiping the first 5 rows due to the dataset file description and disclaimer
olympic_data = pd.read_csv('dataset.csv', skiprows=5)

In [16]:
# check the head to verify the file was uploaded and preview the first 3 rows
olympic_data.head(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3

# Pandas Attributes & Methods

In [17]:
# .shape - Returns the rows and columns
olympic_data.shape?

olympic_data.shape

(27174, 11)

In [19]:
# .tail() - Returns the last n rows
olympic_data.tail?

olympic_data.tail(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [21]:
# .sample() - Returns a random sample of items from an axis of object
olympic_data.sample?

olympic_data.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
15904,1980,Moscow,Fencing,Fencing,"PIETRUSZKA, Frederic",FRA,Men,foil team,M,Gold,1
14072,1976,Montreal,Wrestling,Wrestling Free.,"IVANOV, Aleksandr",URS,Men,48 - 52kg (flyweight),M,Silver,2
7397,1948,London,Boxing,Boxing,"FORMENTI, Ernesto",ITA,Men,54 - 58kg (featherweight),M,Gold,1

In [23]:
# .info() - Print a concise summary including the types (dtype) of a DataFrame
olympic_data.info?

olympic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [24]:
# .describe() - Generate descriptive statistics.
olympic_data.describe?
# Only computed for entities that holds numeric values in the dataset
olympic_data.describe()

               Year      Position
count  27174.000000  27174.000000
mean    1964.685803      1.992566
std       31.590396      0.817469
min     1896.000000      1.000000
25%     1936.000000      1.000000
50%     1972.000000      2.000000
75%     1992.000000      3.000000
max     2004.000000      3.000000