# Olympy

In [5]:
# installing pandas package
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd

In [7]:
# check current installed pandas version
pd.__version__

'2.2.2'

In [8]:
# Colab pandas doc access
pd.read_csv?

Pandas doc: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

In [9]:
# downloading the dataset
from pathlib import Path

if not Path('dataset.csv').exists():
  !wget https://raw.githubusercontent.com/valdal14/olympy/refs/heads/main/dataset.csv

If you prefer to upload your own dataset, please uncommet the following code block and upload your own.

In [ ]:
# from google.colab import files
# files.upload()

In [10]:
# check the dataset upload
!ls -la

total 2332
drwxr-xr-x 1 root root    4096 Feb 18 07:29 .
drwxr-xr-x 1 root root    4096 Feb 18 07:27 ..
drwxr-xr-x 4 root root    4096 Jan 16 14:24 .config
-rw-r--r-- 1 root root 2371208 Feb 18 07:29 dataset.csv
drwxr-xr-x 1 root root    4096 Jan 16 14:24 sample_data

In [11]:
# read the flat csv file using pandas
# Skiping the first 5 rows due to the dataset file description and disclaimer
olympic_data = pd.read_csv('dataset.csv', skiprows=5)

In [12]:
# check the head to verify the file was uploaded
olympic_data.head(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3